web/WEB-INF/wsdl/localhost_8080/WebServicesAssignment1/SOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.lit/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.lit/" name="SOAP">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.lit/" schemaLocation="http://localhost:8080/WebServicesAssignment1/SOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="JAXBException">
<part name="fault" element="tns:JAXBException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="fetchUser">
<part name="parameters" element="tns:fetchUser"/>
</message>
<message name="fetchUserResponse">
<part name="parameters" element="tns:fetchUserResponse"/>
</message>
<message name="createBooking">
<part name="parameters" element="tns:createBooking"/>
</message>
<message name="createBookingResponse">
<part name="parameters" element="tns:createBookingResponse"/>
</message>
<portType name="SOAP">
<operation name="login">
<input wsam:Action="http://soap.lit/SOAP/loginRequest" message="tns:login"/>
<output wsam:Action="http://soap.lit/SOAP/loginResponse" message="tns:loginResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.lit/SOAP/login/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.lit/SOAP/login/Fault/IOException"/>
</operation>
<operation name="fetchUser">
<input wsam:Action="http://soap.lit/SOAP/fetchUserRequest" message="tns:fetchUser"/>
<output wsam:Action="http://soap.lit/SOAP/fetchUserResponse" message="tns:fetchUserResponse"/>
</operation>
<operation name="createBooking">
<input wsam:Action="http://soap.lit/SOAP/createBookingRequest" message="tns:createBooking"/>
<output wsam:Action="http://soap.lit/SOAP/createBookingResponse" message="tns:createBookingResponse"/>
</operation>
</portType>
<binding name="SOAPPortBinding" type="tns:SOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="fetchUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SOAP">
<port name="SOAPPort" binding="tns:SOAPPortBinding">
<soap:address location="http://localhost:8080/WebServicesAssignment1/SOAP"/>
</port>
</service>
</definitions>